.cart-contents{
  width: 90%;
  margin: 4rem auto 0;
}
.cart-title{
  border-bottom: 4px solid darkblue;
  text-align: left;
  width: 100%;

}
.cart-title h3{
  color: darkblue;
  display: inline-block;
  font-size: 32px;
  font-style: italic;
  padding-bottom: .5rem;

}
.info-title{
  color: #ff0000;
  margin-top: 1.5rem;
}
.carts{
  width: 100%;
  margin-bottom: 4rem;
}
.cart-form{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  position: relative;
  width: 100%;
}
/******************************************************/
/**
商品リスト(左側)
**/
.mobile-cart-lists{
  display: none;
}
.cart-table{
  border-collapse: collapse;
  border: 1px solid #c0c0c0;
  width: 75%;
}
thead{
  background-color: #c0c0c0;
  border-bottom: 2px solid darkblue;
  color: darkblue;
  line-height: 3;
  text-align: left;
}
td{
  padding: .3rem;
  background-color: white;
  border-bottom: 1px dotted #c0c0c0;
}
.img-td{
  width: 20%;
}
.img-td img{
  width: 80%;
}
select{
  border: 1px solid #c0c0c0;
  line-height: 2;
  outline: none;
}
.delete-btns{
  background-color: transparent;
  border: 1px solid #c0c0c0;
  padding: .4rem .5rem;
}
.delete-btns:hover{
  opacity: 0.5;
}

/******************************************************/
/**
会計決定エリア(右側)
**/
.accounting{
  width: 20%;
}
.wrapper-accojnting{
  aspect-ratio: 2 / 1;
  border: 1px solid #c0c0c0;
  border-top: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 1%;
}
.total-title{
  background-color: #c0c0c0;
  border: 1px solid #c0c0c0;
  border-bottom: 2px solid darkblue;
  text-align: center;
  line-height: 3;
  width: 100%;
}
.total{
  margin: 1rem 0;
}
.total-price-title{
  font-weight: bold;
  font-style: italic;
}
.total-price{
  text-align: right;
  background-color: #f0f0f0;
}
#total-num{
  color: red;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin-right: .3rem;
  letter-spacing: 0.1rem;
}
.btn{
  border-radius: 4px;
  color: white;
  line-height: 2;
  width: 95%;
  text-align: center;
  margin: .3rem auto;
}
.btn-submit{
  background-color: #6699FF;
}
.btn-continue{
  background-color: #45bb45;
  text-decoration: none;
}
.btn:hover{
  opacity: 0.5;
}
/***********************************************************/
/***********************************************************/
/**
スマートフォン
**/
@media screen and ( max-width: 767px) {
  
  .cart-contents{
    margin: 0 auto;
    width: 95%;
  }
  .carts,
  .info-title{
    width: 100%;
  }
  .info-title{
    margin-bottom: -2rem;
  }
  /**
  カート
  **/
  .cart-form{
    flex-direction: column;
  }
  .accounting{
    order: 1;
    width: 100%;
  }
  .total{
    margin-top: -.2rem;
  }
  .total-price-title{
    padding: .5rem 0;
  }
  .total-price{
    line-height: 3;
  }
  .btn{
    padding: .6rem 0;
    margin-bottom: .8rem;
  }
  /**
  カートの商品
  **/
  .cart-table{
    display: none;
    order: 2;
  }
  .mobile-cart-item{
    color: darkblue;
    width: 95%;
    margin: 0 auto .4rem;
  }
  .mobile-cart-lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 1.5rem;
    order: 2;
  }
  .mobile-cart-list{
    background-color: #f9f9f9;
    box-shadow: 1px 3px 3px 1px #c0c0c0;
    padding-bottom: 2rem;
    margin-bottom: 20px;
    width: calc(100% / 2 - 10px);
  }
  .mobile-cart-img{
    width: 100%;
    aspect-ratio:  2 / 1;
  }
  .mobile-cart-title{
    color: darkblue;
    font-size: .8rem;
    font-weight: bold;
  }
  .price-content{
    font-style: italic;
  }
  .mobile-cart-base-price{
    color: red !important;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.05rem;
  }
  .mobile-cart-tax-price{
    font-size: .7rem;
  }
  .mobile-cart-content select{
    padding: .4rem 0;
    width: 100%;
  }
  .delete-btns{
    background-color: #ff0000;
    color: white;
    display: block;
    margin: 1rem auto 0;
    width: 95%;
  }
}

