.cart-contents{
  width: 90%;
  margin: 4rem auto 0;
}
.cart-title{
  border-bottom: 4px solid darkblue;
  text-align: left;
  width: 100%;

}
.cart-title h3{
  color: darkblue;
  display: inline-block;
  font-size: 32px;
  font-style: italic;
  padding-bottom: .5rem;

}
.info-title{
  color: #ff0000;
  margin-top: 1.5rem;
}
.carts{
  width: 100%;
  margin-bottom: 4rem;
}
.cart-form{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  position: relative;
  width: 100%;
}
/******************************************************/
/**
商品リスト(左側)
**/
.cart-table{
  border-collapse: collapse;
  border: 1px solid #c0c0c0;
  width: 75%;
}
thead{
  background-color: #c0c0c0;
  border-bottom: 2px solid darkblue;
  color: darkblue;
  line-height: 3;
  text-align: left;
}
td{
  padding: .3rem;
  background-color: white;
  border-bottom: 1px dotted #c0c0c0;
}
.img-td{
  width: 20%;
}
.img-td img{
  width: 80%;
}
select{
  border: 1px solid #c0c0c0;
  line-height: 2;
  outline: none;
}
.delete-btns{
  background-color: transparent;
  border: 1px solid #c0c0c0;
  padding: .4rem .5rem;
}
.delete-btns:hover{
  opacity: 0.5;
}

/******************************************************/
/**
会計決定エリア(右側)
**/
.accounting{
  width: 20%;
}
.wrapper-accojnting{
  aspect-ratio: 2 / 1;
  border: 1px solid #c0c0c0;
  border-top: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 1%;
}
.total-title{
  background-color: #c0c0c0;
  border: 1px solid #c0c0c0;
  border-bottom: 2px solid darkblue;
  text-align: center;
  line-height: 3;
  width: 100%;
}
.total{
  margin: 1rem 0;
}
.total-price-title{
  font-weight: bold;
  font-style: italic;
}
.total-price{
  text-align: right;
  background-color: #f0f0f0;
}
#total-num{
  color: red;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin-right: .3rem;
  letter-spacing: 0.1rem;
}
.btn{
  border-radius: 4px;
  color: white;
  line-height: 2;
  width: 95%;
  text-align: center;
  margin: .3rem auto;
}
.btn-submit{
  background-color: #6699FF;
}
.btn-continue{
  background-color: #45bb45;
  text-decoration: none;
}
.btn:hover{
  opacity: 0.5;
}


