.main-contents{
  width: 70%;
  margin: 4rem auto;
}
.images{
  width: 100%;
}
.main-image{
  width: 100%;
}
.main-image img{
  width: 100%;
}
.sub-images{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}
.sub-images img{
  width: calc(100% / 3 - 60px );
  aspect-ratio: 3 / 2;
}
