.main-contents{
  width: 70%;
  margin: 4rem auto;
}
.images{
  width: 100%;
}
.main-image{
  width: 100%;
}
.main-image img{
  width: 100%;
}
.sub-images{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.5rem;
  width: 100%;
}
.sub-images img{
  width: calc(100% / 3 - 40px );
  aspect-ratio: 3 / 2;
}
.shop-table{
  background-color: white;
  border-collapse: collapse;
  border: 1px solid #c0c0c0;
  margin-top: 2rem;
  width: 100%;
}
.shop-table tbody tr{
  line-height: 5;
  border-bottom: 1px solid #c0c0c0;
}
.shop-table tbody tr th{
  background-color: #806e2f;
  color: white;
  width: 45%;
}
.map{
  border: 4px solid #444;
  width: calc(100% - 8px);
  margin-bottom: 2rem;
}
.map *{
  width: 100%;
  aspect-ratio:  5 / 2;
}
/**************************************************************************/
/**************************************************************************/
/**
スマートフォン
**/
@media screen and (max-width: 767px) {
  .main-contents{
    width: 95%;
    margin: 4rem auto;
  }
}

