*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  border: none;
 
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(242, 233, 233);
}
body{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100%;
}
.mobile-menu-background{
  display: none;
}
main{
  flex: 1;
}
/**************************************************************************/
/**
ヘッダー
**/
.mobile-header{
  display: none;
}
.pc-header{
  width: 100%;
  background-color: #F0F0F0;
}
.pc-header .icons{
  width: 90%;
  margin: 1rem auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pc-header .icons .icon{
  display: flex;
  align-items: center;
  width: 10%;
}
.pc-header .icons a img{
  width: 100%;
}
.auth-wrapper{
  text-align: right;
  width: 30%;
}
.tel{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: green;
  text-decoration: none;
  margin-bottom: 1rem;
}
.tel img{
  width: 16px !important;
}
.auth-btns{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 2%;
  justify-content: space-between;
}
.auth-btns .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46%;
  background-color: #F9F9F9;
  border-radius: 3px;
  text-decoration: none;
  padding: 0 10px;
  border: 1px solid #c0c0c0;
  line-height: 2;
}
.auth-btns .btn:hover{
  opacity: 0.5;
}
nav{
  width: 100%;
  margin: 0 auto;
}
.nav-lists{
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-list{
  width: calc( 100% / 5);
  text-align: center;
  background-color: darkblue;
  padding: 1rem 0;
}
.nav-list-link{
  color: white;
  text-decoration: none;
  
}
.active{
  background-color: rgb(93, 93, 194);
}
.nav-list-link:hover{
  opacity: 0.6;
}
.nav-list-link .main-title{
  font-size: 18px;
  letter-spacing: 0.15em;
}
.nav-list-link .sub-title{
  font-size: 12px;
  line-height: 1.5;
}
/****************************************************************
/**
ログイン時の表示
**/
.user-menu{
  width: 100%;
  height: 60px;
  background-color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: .3rem 0;
  position: relative;
}
.user{
  width: 100%;
  display: flex;
  align-items: center;
}
.user:hover{
  opacity: 0.6;
}
.user-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid white;
}
.user-name{
  color: white;
  font-style: italic;
  letter-spacing: 0.09em;
}
.cart{
  width: 15%;
  position: relative;
}
.cart-img{
  width: 100%;
}
.cart-count{
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c0c0c0;
  color: darkblue;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  font-weight: bold;
}
.cart-exists{
  background-color: red;
  color: white;
}
.menus-lists{
  width: 100%;
  background-color: white;
  border: 1px solid rgb(106, 106, 206);
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: -400%;
  list-style: none;
  text-align: center;
  transition: .4s ease-in;
  opacity: 0;
  z-index: 2;
}
.menu-li{
  display: block;
  line-height: 3.5;
  text-align: center;
  width: 100%;
}
.menu-li:not(:last-child){
  border-bottom: 1px dotted rgb(106, 106, 206);
}
.menu-li-link{
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 100%;
}
.menu-link-img{
  width: 1.5rem !important;
  height: 1.5rem !important;
}
.menu-link-text{
  color: darkblue;
  display: block;
 
  text-align: left;
}
.menu-li:hover{
  background-color: #F0F0F9F1;
}
.logout-form{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
.logout-button{
  align-items: center;
  background-color: transparent;
  color: darkblue;
  display: flex;
  justify-content: center;
  line-height: 3.5;
  width: 100%;
}
.logout-img{
  display: block;
  font-size: 16px;
  height: 16px;
}

#check{
  display: none;
}
#check:checked ~ .menus-lists{
  top: 100%;
  opacity: 1;
}

/****************************************************************
/**
フッター
**/
footer{
  width: 100%;
  background-color: darkblue;

}
.footer-icon{
  width: 100%;
  text-align: center;
  margin: 2rem 0 3rem;
}
.footer-icon img{
  width: 10%;
}
.footer-tel{
  width: 100%;
  text-align: center;
  margin: 4rem 0;
}
.footer-tel-link{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-style: italic;
  width: 100%;
  text-decoration: none;
  color: white;
  letter-spacing: 0.12em;
}
.footer-tel-link img{
  width: 1.2%;
}
.footer-lists{
  display: flex;
  align-items: center;
  width: 100% !important;
  list-style: none;
  margin: 2rem 0 4rem;
}
.footer-list{
  width: calc(100% / 5);
  text-align: center;
}
.footer-list-link{
  text-decoration: none;
  color: white;
}
.footer-list-link:hover{
  opacity: 0.6;
}
.footer-title{
  font-size: 16px;
}
small{
  background-color: #c0c0c0;
  display: block;
  text-align: center;
}
/*********************************************
/**
全ページ共通タイトル
**/
.page-title{
  display: block;
  text-align: center;
  margin: 4rem 0 4rem;
}
.page-title h2{
  display: inline-block;
  font-size: 32px;
  letter-spacing: 0.1em;
  color: darkblue;
}
.page-title h2::before, .page-title h2::after{
  display: block;
  content: "";
  width: 100%;
  border-top: double 2px darkblue;
  border-bottom: 2px double darkblue;
  padding: 1px 0;
}
/************エラー処理***************************************/
.errors{
  width: 95%;
  margin: 1rem auto 3rem;
  background-color: red;
  list-style: none;
  
}
.error{
  color: white;
  padding: 1rem 0;
}
/***************ページネーション**************************************************************/
.pagination{
  display: flex;
  align-items: center;
  list-style: none;
}
.pagination li{
  align-items: center;
  background-color: white;
  border: 1px solid #c0c0c0;
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}
.pagination li:not(:last-child){
  border-right: none !important;
}
.pagination .disabled{
  display: none;
}
.pagination .active{
  background-color: #6699FF;
  color: white;
}
.pagination li a{
  text-decoration: none;
}
/**************フラッシュ******************************************************************/
.alert-success{
  background-color: green;
  border-radius: 4px;
  color: white;
  width: 95%;
  margin: 0rem auto 2rem;
  line-height: 3;
 
}
/*****************************************************************************************/
/*****************************************************************************************/
/**
**スマートフォン
**
*/
@media screen and (max-width: 767px) {
  .pc-header{
    display: none;
    overflow-x: hidden;
  }
  .mobile-header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    margin: 0 auto;
    width: calc(98% - 4px);
  }
  .mobile-top-icon{
    width: 60px;
  }
  .mobile-top-icon img{
    width: 60px;
    height: 60px;
  }
  .mobile-menu-background{
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    height: 100vh;
    left: -100%;
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 3;
  }
  .hamburger-menu{
    position: relative;
  }
  .hamburger{
    align-items: center;
    background-color: white;
    border: 2px solid darkblue;
    border-radius: 6px;
    display: flex;
    height: 50px;
    justify-content: center;
    position: relative;
    width: 50px;
    z-index: 4;
  }
  .hamburger-span,
  .hamburger-span::before,
  .hamburger-span::after
  {
    background-color: darkblue;
    display: block;
    height: 5px;
    position: absolute;
    transition: .4s all ease-in-out;
    width: 40px;
    z-index: 4;
  }
  .hamburger-span{
    top: 45%;
    left: 7px;
  }
  .hamburger-span::before{
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
  }
  .hamburger-span::after{
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
  }
  #hamberger-checkbox:checked ~ .menus{
    left: 0;
  }
  #hamberger-checkbox:checked ~ .hamburger-span{
    transform: rotate(45deg);
  }
  #hamberger-checkbox:checked ~ .hamburger-span::before{
    display: none;
  }
  #hamberger-checkbox:checked ~ .hamburger-span::after{
    transform: rotate(-90deg);
    top: 1px;
  }
  #hamberger-checkbox:checked ~ .mobile-menu-background{
    left: 0;
  }
  #hamberger-checkbox{
    display: none;
  }
  .menus{
    width: 50VW;
    height: 100vh;
    background-color: white;
    border: 1px solid #c0c0c0;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 4;
  }
  /**
  メニュー内
  **/
  .mobile-hamburger-title{
    padding-top: 1rem;
    text-align: center;
  }
  .mobile-hamburger-title h3{
    color: darkblue;
    font-size: 24px;
    font-style: italic;
    margin-bottom: 1rem;
  }
  .mobile-page-header{
    background-color: darkblue;
    color: white;
    font-size: 12px;
    text-align: center;
  }
  /*
  ユーザーメニュー/ログイン
  */
  .mobile-login-link{
    background-color:#6699FF;
    border-radius: 4px;
    color: white;
    display: block;
    line-height: 2;
    margin: 3rem 0 .8rem;
    text-align: center;
    text-decoration: none;
  }




  /*ページリスト*/
  .mobile-page-menus{
    list-style: none;
    width: 100%;
  }
  .mobile-page-list:not(.mobile-list-last){
    border-bottom: 1px dotted darkblue;
  }
  .mobile-list-last{
    border-bottom: 1px solid rgb(175, 175, 248);
  }
  .mobile-page-link{
    color: darkblue;
    display: block;
    text-decoration: none;
    line-height: 3;
    width: 100%;
  }
  .main-title{
    color: darkblue;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0 !important;
  }
  .sub-title{
    font-size: 12px;
    margin-top: -1rem;
  }

  
}



