.main-visual{
  width: 100%;
  aspect-ratio: 96 / 25;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.main-visual-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.mv-img{
  width: 100%;
  height: 100%;
}
/************************************/
/**
コンテンツ
**/
.top-contents{
  background-color: white;
  width: 90%;
  margin: 4rem auto;
  display: flex;
  align-items: flex-start;
  gap: 4%;
}
.top-main{
  width: 65%;
  margin-top: 1%;
}
.shop-info{
  width: 100%;

}
.shop-info h2{
  font-size: 24px;
  font-style: italic;
  width: 100%;
  margin: 0 auto;
  background-color: darkblue;
  color: white;
  line-height: 2.5;
  border-left: 6px solid #6699FF;
}
.info-images{
  width: calc(100% + 6px);
  margin: 2.5em auto 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-images img{
  width: 30%;
  aspect-ratio: 3 / 2;
}
.shop-info .info-text{
  width: calc(100% + 6px);
  letter-spacing: 0.12em;
  background-color: #92b4f7;
}
/**
見出し2
**/
.shop-service,.online-service{
  margin: 4rem auto;
  width: 100%;
}
.shop-service h2,
.online-service h2{
  font-size: 24px;
  font-style: italic;
  width: 100%;
  margin: 0 auto;
  background-color: darkblue;
  color: white;
  line-height: 2.5;
  border-left: 6px solid #6699FF;
}
.shop-service figure,
.online-service figure{
  width: calc(100% + 6px);
  margin-top: 2.5em;
}
.shop-service figure img,
.online-service figure img
{
  width: 100%;
}
.shop-service figure figcaption,
.online-service figure figcaption{
  width: 100%;
  letter-spacing: 0.12em;
  background-color: #92b4f7;
  margin-top: 1em;
}
/**/
