.main-visual{
  width: 100%;
  aspect-ratio: 96 / 25;
  margin: 0;
  padding: 0;
}
.main-visual-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.mv-img{
  width: 100%;
  height: 100%;
}
/************************************/
/**
コンテンツ
**/
.top-contents{
  width: 90%;
  margin: 4rem auto;
  display: flex;
  align-items: flex-start;
  gap: 4%;
}
