.main-contents{
  margin: 4rem auto;
  width: 65%;
}
/*******************************************************************/
/**
リストのレイアウト
**/
.contact-lists{
  background-color: white;
  list-style: none;
  width: 100%;
}
.contact-list{
  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}
.contact-lists:last-child{
  border-bottom: 1px solid #c0c0c0;
}
.contact-title{
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c0c0c0;
  line-height: 3;
}
.title-text{
  color: #201f1f;
  font-weight: bold;
  font-style: italic;
}
.date{
  font-weight: 100;
  font-size: 12px;
  margin: 0;
}
.open-close{
  color: darkblue;
  font-size: 14px;
}
.open-close:hover{
  opacity: 0.7;
}
.contact-body{
  align-items: center;
  aspect-ratio:  13 / 2;
  background-color: #c0c0c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
  width: 100%;
}
.body-contents{
  background-color: white;
  overflow: scroll;
  margin: 0 auto;
  max-height: 90%;
  width: 99%;
  
 
}


/*******************************************************************/
/**
データがない場合
**/
.empty{
  background-color: #d8d9c2;
  color: #362e2e;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  padding: 3rem 0;
  width: 100%;
}