.main-contents{
  margin: 4rem auto;
  width: 80%;
}
/******************************************************************/
/**
サーチ機能
**/
.history-search-form{
  background-color: white;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
.form-box-title{
  background-color: #7c7777;
  color: white;
  letter-spacing: 0.12em;
  line-height: 4;
}
.order-search-container{
  width: 98%;
  margin: 1rem auto;
}
.form-first,
.form-second
{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
}
.form-first *{
  width: 45%;
}
.form-second *{
  width: 41%;
}
.form-group{
  width: 100%;
}
.search-title{
  font-weight: bold;
}
.form-control{
  width: 95%;
  border: 1px solid #c0c0c0;
  line-height: 2;
}
.range{
  font-size: 24px;
  color: darkblue;
  width: 10%;
}
.form-last{
  width: 100%;
  margin: 1.5rem auto;
}
.btns{
  border-radius: 4px;
  color: white;
  padding: .5rem 0;
  width: 15%;
  
}

.btn-submit{
  background-color: #6699FF;
  margin-right: 1rem;
}
.btn-submit:hover{
  opacity: 0.6;
}
.btn-search{
  background-color: red;
}
.btn-search:hover{
  opacity: 0.6;
}
/********************************************************************************/
/**
履歴リスト
**/
/**モバイル版非表示 **/
.lists-mobile-history{
  display: none;
}
.lists-pc-history{
  background-color: white;
  border-collapse: collapse;
  margin-top: 1rem;
  width: 100% !important;
}
.lists-pc-history thead{
  background-color: #7c7777;
  color: white;
  line-height: 3;
}
.th-day{
  width: 20%;
}
.th-name{
  width: 50%;
}
.th-price{
  width: 10%;
}
.th-link{
  width: 10%;
}
.lists-pc-history tbody td{
  padding: .5rem 0;
}
.lists-pc-history tbody tr:not(:last-child) td{
  border-bottom: 1px solid #c0c0c0;
}

.order-items{
  align-items: center;
  display: flex;
  width: 100%;
}
.order-item-img{
  width: 20%;
  aspect-ratio:  2 / 1;
}
.order-item-name{
  color: darkblue;
  letter-spacing: 0.12rem;
}
.btn-link{
  background-color: #6699FF;
  border-radius: 4px;
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: .5rem 5px;
  width: calc(100% - 20px);
}
.btn-link:hover{
  opacity: 0.5;
}
.excluded-wrapper{
  font-size: 16px;
  font-style: italic;
}
.excluded{
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-right: .2rem;
}
.tax{
  font-size: 12px;
}