*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  border: none;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  overflow-x: hidden;
  background-color: #F0F0F0;
}
/**
ヘッダー
**/
.mobile-header{
  display: none;
}
.pc-header{
  width: 100%;
  background-color: darkblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em 0;
}
.icons{
  width: 90%;
}
.icons img{
  width: 5%;
}
.header-menu{
  width: 10%;
  position: relative;
  
}
.header-menu-wrapper{
  width: 100%;
  display: block;
  background-color: rgb(2, 2, 55);
  border: 1px solid rgb(120, 120, 249);
  border-radius: 4px;
  padding: .5em 0;
}
.admin-user{
  width: 100%;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
.admin-user img{
  width: 15%;
  aspect-ratio: 1;
  border-radius: 50%;
}
.admin-user-name{
  color: white;
  font-style: italic;
  font-weight: bold;
}
#check{
  display: none;
}
.header-up{
  display: none;
  color: white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header-down{
  color: white;
  position: absolute;
  right: 0;
  top:50%;
  transform: translateY(-50%);
}
/**
スライダーメニュー
**/
.header-slider{
  position: absolute;
  background-color: white;
  border: 1px solid #c0c0c0;
  width: 30vw;
  left: -290vw;
  top: -.5em;
  transition: .4s ease-in;
  z-index: 3;
}
.header-slider ul{
  list-style: none;
  width: 100%;
}
.header-slider ul li{
  width: 100%;
  line-height: 4;
  text-align: center;
 
}
.header-slider ul li:not(:last-child){
  border-bottom: 1px dotted #c0c0c0;
}
.header-slider ul li:hover{
  opacity: 0.7;
}
.header-slider ul li a{
  align-items: center;
  color: darkblue;
  display: flex;
  gap: 5px;
  text-decoration: none;
  height: 100%;
}
.header-slider ul li a img,
.header-slider ul li form button img
{
  width: 24px;
  height: 24px;
}
.header-slider ul li form button{
  background-color: transparent !important;
  color: darkblue;
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 4;
}

/**
checkbox反応
**/
#check:checked ~ .header-up{
  display: inline;
}
#check:checked ~ .header-down{
  display: none;
}
#check:checked ~ .header-slider{
  left: -90vw;
}
/**
ページタイトル
**/
.page-title{
  background-color: #6699FF;
  color: white;
  font-size: 32px;
  margin: 0 auto 0rem;
  padding: .2rem 0 .8rem .5rem;
  width: 100%;
  
}
.page-title h3{
  display: inline-block;
}
.page-title h3::after{
  border-bottom: 3px solid white;
  content: "";
  display: block;
  width: 100%;
  margin-top: .2.5rem;
 
  
}
/***************フラッシュデザイン********************************************/
.alert-success{
  width: 50%;
  background-color: #36a666;
  box-shadow: 1px 2px 2px 1px #41cd7d;
  border-radius: 3px;
  color: white;
  margin: 3rem auto 4rem;
  line-height: 3.5;
}
/***************ページネーション**************************************************************/
.pagination{
  display: flex;
  align-items: center;
  list-style: none;
}
.pagination li{
  align-items: center;
  background-color: white;
  border: 1px solid #c0c0c0;
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}
.pagination li:not(:last-child){
  border-right: none !important;
}
.pagination .disabled{
  display: none;
}
.pagination .active{
  background-color: #6699FF;
  color: white;
}
.pagination li a{
  text-decoration: none;
}
/********************************************************************/
/********************************************************************/
/**
スマートフォン
**/
@media screen and (max-width: 767px) {
  .pc-header{
    display: none;
  }
  .mobile-header{
    align-items: center;
    background-color: darkblue;
    display: flex;
    width: 100%;
    height: 4rem;
  }
  .mobile-icons, .mobile-icons a{
    width: 4rem;
  }
  .mobile-icons a img{
    width: 100%
  }
  .mobile-header-menu{
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 5rem);
  }
  .mobile-menu-contents{
    align-items: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 3rem;
    height: 3rem;
  }
  .mobile-menu-label,
  .mobile-menu-label::before,
  .mobile-menu-label::after{
    background-color: black;
    content: "";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 4px;
    position: relative;
  }
  
  .mobile-menu-label::before{
    top: -.7rem;
    position: absolute !important;
  }
  .mobile-menu-label::after{
    top: .7rem;
    position: absolute !important;
  }

  
}


