/***********************************************************************************************/
/**
一覧ページ用
**/
/*-----------全体---------------------*/
.daily-index-contents{
  display: flex;
  align-items: flex-start;
  gap: 2%;
  width: 95%;
  margin: 4rem auto;
}
/*------------中央-----------------------*/
.daily-main{
  width: 70%;
}