.main-contents{
  width: 95%;
  margin: 4rem auto;
}
/**
上方向デザイン
**/
.datas{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10rem;
}
.main-img{
  aspect-ratio: 32 / 21;
  width: 45%;
  border: 5px solid darkblue;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.product-name{
  display: block;
  text-align: left;
}
.product-name h3{
  border-bottom: 3px double darkblue;
  color: darkblue;
  display: inline-block;
  font-size: 28px;
  font-style: italic;
}
.price-contents,
.stock
{
  display: flex;
  align-items: center;
  gap: 1.5%;
  width: 100%;
}
.price-title,
.stock-title
{
  background-color: darkblue;
  color: white;
  text-align: center;
  width: 15%;
}
.price,
.stock-data
{
  color: darkblue;
  font-size: 12px;
}
.price{
  align-items: center;
  display: flex;
  gap: .2rem;
}
.price-number
{
  color: red;
  font-style: italic;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.12rem;
  padding-right: 5px;
}
.tax{
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}
.quantity{
  font-size: 12px;
  font-weight: bold;
}
.stock-data{
  color: darkblue !important;
  font-size: 16px !important;
}
.stock-number{
  font-style: italic;
  font-weight: bold;
}
.description-title{
  background-color: darkblue;
  color: white;
  line-height: 2;
}
.description-text{
  background-color: white;
  border: 3px solid darkblue;
  letter-spacing: 0.06rem;
  overflow-y: scroll;
  position: relative;
}
.btns{
  width: 100%;
  text-align: center;
}
.btns-button{
   background-color: #4f4fd3;
   border-radius: 4px;
   color: white;
   display: flex;
   font-size: .8rem;
   justify-content: center;
   text-decoration: none;
   line-height: 4;
   width: 35%;
   margin-top: 1rem;
}
.btns-button:hover{
  opacity: 0.6;
}
.cart-form{
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}
.order-contents{
  align-items: center;
  display: flex;
  width: 40%;
}
.order-title{
  background-color: #33cc33;
  border: none;
  color: white;
  padding: .5rem;
  text-align: center;
  width: 30%;
 
}
#select{
  border: 1px solid #c0c0c0;
  border-radius: 0 4px 4px 0;
  display: block;
  padding: calc(.5rem + 2px) 0;
  outline: none;
  width: 70%;
 
}
.submit{
  display: flex;
  justify-content: flex-end;
  width: 60%;
 
}
.cart-button{
  background-color: #226922;
  border-radius: 4px;
  color: white;
  display: block;
  line-height: 2.5;
  width: 50%;
}
.cart-button:hover{
  opacity: 0.5;
}
.admin-btns{
  display: flex;
  align-items: center;
  gap: 5%;
  justify-content: flex-start;
}
.admin-btn{
  color: white;
  display: block;
  line-height: 3;
  text-align: center;
}
.admin-btn:hover{
  opacity: 0.6;
}
.edit-button{
  background-color: rgb(71, 198, 71);
  
  text-decoration: none;
  width: 30%;
}
.del-form{
  width: 30%;
}
.del-button{
  background-color: red;
  width: 100%;
}
/**
生鮮食品
**/
.product-infomation{
  color: red;
  font-style: italic;
  font-weight: bold;
}

/***********************************************************************************************
/**
下方向デザイン
**/
.images{
  border:6px solid darkblue;
  height: calc(100vw * 0.95 / 4);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 95%;
}
.arrow{
  aspect-ratio: 1;
  align-items: center;
  color: white;
  background-color: #c0c0c0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 3%;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
.img-wrapper{
  display: flex;
  justify-content: space-between;
  gap: 3.125%;
  width: 100%;
  height: 100%;
  transition: .5s;
  position: relative;
}
.sub-img{
  flex-shrink: 0;
  width: calc(100% * 0.3125);
  height:100% ;
}
.arrow-left{
  left: 0;
}
.arrow-right{
  right: 0;
}
/****************************************************************************/
/****************************************************************************/
/**
スマートフォン
**/
@media screen and (max-width: 767px) {
  .main-contents{
    width: 100%;
    margin: 2rem auto;
  }
  .datas{
    display: block;
  }
  .main-img{
    display: block;
    margin: 0 auto;
    width: 95%;
  }
  .info{
    display: block;
    margin: 2rem auto;
    width: 95%;
  }
  .product-name h3{
    font-size: 24px;
    font-style: italic;
  }
  .price-contents{
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  .price{
    align-items: center;
    display: flex;
    font-size: 14px;
    width: 90%;
  }
  .price-wrapper{
    align-items: center;
    display: flex;
    width: 80%;
  }
  .tax{
    margin-left: 2%;
  }
  .stock{
    margin-bottom: .5rem;
  }
  .btns{
    margin-top: 3rem;
  }
  .images{
    margin-top: -8rem;
  }
  .cart-form{
    align-items: baseline;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
    width: 100%;
  }
  .cart-form *{
    width: 100%;
    margin-top: .5rem;
  }
  .order-title{
    width: 35%;
  }

}
